<div class="page-header">
  			<h1>ACCOUNT LIST <small>Manage accounts</small></h1>
		</div>
<div class="row">
	<!--List of customers-->
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Customers</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>PIN</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr (click)="setSelectedCustomer(customer)" *ngFor="let customer of customers" [class.active]="selectedCustomer === customer">
						<td>{{customer.personalIdentificationNumber}}</td>
						<td>{{customer.firstName}}</td>
						<td>{{customer.lastName}}</td>
						<td>{{customer.email}}</td>
						<td>
							<button type="button" class="btn btn-danger" aria-label="Left Align" [class.disabled]="selectedCustomer !== customer" (click)="deleteSelectedCustomer(selectedCustomer)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!--List of accounts-->
	<div class="col-md-6" >
		<div class="panel panel-default">
			<div class="panel-heading">Bank accounts</div>
			<table class="table table-hover" *ngIf="selectedCustomer">
				<thead>
					<tr>
						<th>IBAN</th>
						<th>Balance</th>
						<th>Account type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr (click)="setSelectedAccount(account)" *ngFor="let account of accounts" [class.active]="selectedAccount === account">
						<td>{{account.iban}}</td>
						<td><span class="badge">${{account.balance}}</span></td>
						<td>{{account.type}}</td>
						<td>
							<button type="button" class="btn btn-danger" aria-label="Left Align" [class.disabled]="selectedAccount !== account" (click)="deleteSelectedAccount(selectedAccount)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div [hidden]="selectedCustomer" class="alert alert-info" role="alert">Please <strong>select</strong> a customer</div>
		</div>
	</div>
</div>