<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/accounts"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Fictional Bank</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/customer_form"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Register a new customer</a></li>
        <li><a routerLink="/account_form"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>Open a new bank account</a></li>
        <li><a routerLink="/accounts"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>Account list</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Transactions
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/deposit"><span class="glyphicon glyphicon-import" aria-hidden="true"></span>Deposit</a></li>
            <li><a routerLink="/withdraw"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>Withdraw</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

