<div [hidden]="submitted">
	
	<form #depositForm="ngForm">
	<div class="page-header">
		<h1>DEPOSIT PROCESS <small>Deposit to a bank account</small></h1>
	</div>
		<div class="form-group">
			<label for="customer">Account holder: </label>
			<select id="customer" class="form-control" required
				[(ngModel)]="selectedCustomer" name="customer" #customer="ngModel" (ngModelChange)="retrieveAccounts()">
				<option *ngFor="let customer of customers" [ngValue]="customer">{{customer.firstName}} {{customer.lastName}}</option>
			</select>
		</div>
		<div [hidden]="customer.valid || customer.pristine"
			class="alert alert-danger">
			Select a customer
		</div>
		<div class="form-group">
			<label for="customer">Bank account:</label>
			<select id="account" class="form-control" required
				[(ngModel)]="selectedAccount" name="account" #account="ngModel">
				<option *ngFor="let account of bankAccounts" [ngValue]="account">[{{account.iban}}] ${{account.balance}} {{account.type}}</option>
			</select>
		</div>
		<div [hidden]="account.valid || account.pristine"
			class="alert alert-danger">
			Select an account
		</div>
		<div class="form-group">
			<label for="amount">Amount of money to transfer: </label>
			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input id="amount" type="number" class="form-control" placeholder="Amount" required [(ngModel)]="amount.value" name="amount" #amount="ngModel">
				<div class="input-group-addon">.00</div>
			</div>
		</div>
		<div [hidden]="amount.valid || amount.pristine"
			class="alert alert-danger">
			An amount of money to transfer is required
		</div>
		<div class="alert alert-warning" role="alert">
			Transfer fee: <strong>5%</strong>
			Interest rate for saving accounts: <strong>2%</strong> for deposits below <strong>$10.000</strong> and <strong>5%</strong> for deposits above <strong>$10.000</strong>
		</div>
		<button (click)="onSubmit(amount.value)" type="submit" class="btn btn-success" [disabled]="!depositForm.form.valid">Deposit</button>
	</form>
</div>


<div [hidden]="!submitted" *ngIf="selectedCustomer && selectedAccount && amount">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Success!</strong> You have deposited money</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">Account holder</div>
				<div class="col-xs-9  pull-left">{{ selectedCustomer.firstName }} {{selectedCustomer.lastName}}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">IBAN</div>
				<div class="col-xs-9 pull-left">{{selectedAccount.iban}}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">Amount</div>
				<div class="col-xs-9 pull-left">${{amount.value}}</div>
			</div>
			<br>
		</div>
	</div>
	<button class="btn btn-primary" (click)="reset()">Transfer money again</button>
</div>