  <div [hidden]="submitted">
	<form #customerForm="ngForm" (ngSubmit)="onSubmit()">
	  <div class="page-header">
  			<h1>CUSTOMER REGISTER FORM <small>Register a bank customer in our fake database</small></h1>
		</div>

	  <div class="form-group">
	    <label for="personalIdentificationNumber">Personal Identification Number:</label>
	    <input type="number" class="form-control" id="personalIdentificationNumber" required 
	    [(ngModel)]="model.personalIdentificationNumber" name="pin" #pin="ngModel">
	  </div>

	  <div [hidden]="pin.valid || pin.pristine"
	             class="alert alert-danger">
	          Personal identification number is required
	  </div>

	  <div class="form-group">
	    <label for="firstName">First Name:</label>
	    <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
	  </div>

	  <div [hidden]="firstName.valid || firstName.pristine"
	             class="alert alert-danger">
	          First name is required
	  </div>

	  <div class="form-group">
	    <label for="lastName">Last Name:</label>
	    <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
	  </div>

	  <div [hidden]="lastName.valid || lastName.pristine"
	             class="alert alert-danger">
	          Last name is required
	  </div>

	  <div class="form-group">
	    <label for="email">Email address:</label>
	    <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
	  </div>

	  <div [hidden]="email.valid || email.pristine"
	             class="alert alert-danger">
	          Email is required
	  </div>

	  <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Submit</button>

	</form>
</div>

<div [hidden]="!submitted">

	<div class="panel panel-success">
	 <div class="panel-heading">
	    <h3 class="panel-title"><strong>Success!</strong> You've registered a new customer</h3>
	  </div>
	  <div class="panel-body">
	     <div class="row">
		    <div class="col-xs-3">Personal identification number</div>
		    <div class="col-xs-9  pull-left">{{ model.personalIdentificationNumber }}</div>
		  </div>
		  <div class="row">
		    <div class="col-xs-3">Name</div>
		    <div class="col-xs-9 pull-left">{{ model.firstName }} {{model.lastName}}</div>
		  </div>
		  <div class="row">
		    <div class="col-xs-3">Email</div>
		    <div class="col-xs-9 pull-left">{{ model.email }}</div>
		  </div>
		  <br>
			  </div>
	</div>

  	<button class="btn btn-primary" (click)="reset()">Register a new customer</button>
</div>