  <div [hidden]="submitted">
	<form #accountForm="ngForm" (ngSubmit)="onSubmit()">
	    <div class="page-header">
  			<h1>BANK ACCOUNT <small>Open a new bank account for a selected customer</small></h1>
		</div>
		<div class="form-group">
		    <label for="person">Customer: </label>

		    <select id="person" class="form-control" required 
	    [(ngModel)]="model.person" name="person" #person="ngModel">
				  <option *ngFor="let person of selectFields" [ngValue]="person">{{person.firstName}} {{person.lastName}}</option>
			</select>
	  	</div>

	  	<div [hidden]="person.valid || person.pristine"
	             class="alert alert-danger">
	          Select a customer
	  </div>

	  	<div class="form-group">
	  		<label for="balance">Initial deposit: </label>
	  		<div class="input-group">
		      <div class="input-group-addon">$</div>

		      <input id="balance" type="number" class="form-control" placeholder="Amount" required [(ngModel)]="model.balance" name="balance" #balance="ngModel">

		      <div class="input-group-addon">.00</div>
    		</div>
	  	</div>

	  	<div [hidden]="balance.valid || balance.pristine"
	             class="alert alert-danger">
	         An initial deposit is required
	  </div>

	  	<div class=form-group>
	  		<label>Account type: </label>
	  		<div class="radio">
 			 	<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="Saving" checked [(ngModel)]="model.type" name="type" #type="ngModel">
    				Saving Account
  			 	</label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="Checking" [(ngModel)]="model.type" name="type" #type="ngModel">
			    Checking Account
			  </label>
			</div>
	   </div>

	   <div class="form-group">
	    <label for="iban">Internation Bank Account Number:</label>
	    <input type="number" class="form-control" id="iban" required 
	    [(ngModel)]="model.iban" name="iban" #iban="ngModel">
	  </div>

	  <div [hidden]="iban.valid || iban.pristine"
	             class="alert alert-danger">
	          IBAN is required
	  </div>

	   <button type="submit" class="btn btn-success" [disabled]="!accountForm.form.valid">Submit</button>
	</form>
</div>

<div [hidden]="!submitted" *ngIf="model.person">

	<div class="panel panel-success">
	 <div class="panel-heading">
	    <h3 class="panel-title"><strong>Success!</strong> You've created a new account</h3>
	  </div>
	  <div class="panel-body">
	     <div class="row">
		    <div class="col-xs-3">Account holder</div>
		    <div class="col-xs-9  pull-left">{{ model.person.firstName }} {{model.person.lastName}}</div>
		  </div>
		  <div class="row">
		    <div class="col-xs-3">IBAN</div>
		    <div class="col-xs-9 pull-left">{{model.iban}}</div>
		  </div>
		  <div class="row">
		    <div class="col-xs-3">Initial deposit</div>
		    <div class="col-xs-9 pull-left">{{model.balance}}</div>
		  </div>
		  <div class="row">
		    <div class="col-xs-3">Type</div>
		    <div class="col-xs-9 pull-left">{{model.type}}</div>
		  </div>
		  <br>
			  </div>
	</div>

  	<button class="btn btn-primary" (click)="reset()">Create a new account</button>
</div>

